.status {
  padding: 18px;
  // background: var(--color-white);
  border-radius: var(--radius-xl);
  font-weight: var(--font-weight-bold);
  text-align: center;
  color: var(--color-text-dark);
}

.error {
  background: var(--color-error-bg);
  color: var(--color-error-text);
}
